redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/zvimarmor/MyProjects/AI-kosher-kravi/azimut-kosher-kravi/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/zvimarmor/MyProjects/AI-kosher-kravi/azimut-kosher-kravi"
command = "npm run build"

[build.environment]
NODE_VERSION = "18"
NODE_ENV = "production"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]